/**
 *
 **/

header{
    background-image: url('../images/banniere.jpg');
    background-size:cover;
    height: 200px;
    margin-bottom:10px;
}


/*
Visitors form style
*/
.boutonFermeture{
    float: right;
}

/*
Help-block for half day checkbox
*/
.help-block{
    color: #ff0039;
}


