{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Récapitulatif{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Tarif</th>
            </tr>
            {% for visitor in visitors %}
                <tr>
                    <td>
                        {{ visitor.firstname }}
                    </td>
                    <td>
                        {{ visitor.lastname }}
                    </td>
                    <td>
                        {{ visitor.price }} €
                    </td>
                </tr>

            {% endfor %}

        </table>
    </div>
{% endblock %}
