{% extends "base.html.twig" %}

{% block body %}
    <div class="container">


    <div class="well">
        Le musée du Louvre vous remercie pour votre confiance et vous souhaite une agréable visite. Vos tickets vous seront transmis prochainement par mail à l'adresse <strong>{{ email }}</strong>

    </div>
    {{ socialButtons() }}
    </div>
{% endblock %}